africastalking==1.2.2
backcall==0.1.0
certifi==2020.4.5.2
chardet==3.0.4
contextlib2==0.6.0.post1
decorator==4.4.2
Django==2.2.13
get==2019.4.13
idna==2.9
ipdb==0.13.2
ipython==7.9.0
ipython-genutils==0.2.0
jedi==0.17.0
mysql==0.0.2
mysqlclient==1.4.6
numpy==1.18.5
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
post==2019.4.13
prompt-toolkit==2.0.10
ptyprocess==0.6.0
public==2019.4.13
Pygments==2.6.1
pytz==2020.1
query-string==2019.4.13
request==2019.4.13
requests==2.23.0
schema==0.7.2
six==1.15.0
sqlparse==0.3.1
traitlets==4.3.3
urllib3==1.25.9
wcwidth==0.2.3
